*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

section{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #0062be;

}

header{
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 padding: 20px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 

}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul {
   position: relative;
   display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;

}

.military{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.military .grenade{
    position: relative;
    max-width: 600px;
}

.military .grenade h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 950;
    text-transform: uppercase;
}

.military .grenade h2 span{
    font-size: 2em;
}

.military .grenade p{
    color: #fff;
}

.military .grenade a{
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    letter-spacing: 1px;
    font-weight: 800;
}
.military .grenade a:hover{
    color: #fff;
    background:  hsla(0, 0%, 7%, 0.308);
}

.military .authentic {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;

}

.military .authentic img{
    max-width: 250px;
}

.magic{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;

}

.magic li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.magic li:hover{
    transform: translateY(-15%);
}

.magic li img{
    max-width: 60px;

}

.voltron{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.voltron li{
    list-style: none;
    
}

.voltron li a {
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
    color: #fff;
}

.voltron li a:hover {
    transform: translateY(-15%);
}
